/* GLOBAL SECTION ================================================================================= */




/* Tiny Scrollbar */



#scrollbar1 { display:inline; margin-top:0px; width:100%; clear: both; margin: 0px;  font-size:25px;}
#scrollbar1 .viewport { width:100x; height:700px; overflow: hidden; position: relative; }
#scrollbar1 .overview { font-family:"Open Sans"; list-style: none; position: absolute; width:100%; left: 5px; top: 0; text-align:center;}
#scrollbar1 .scrollbar,
#scrollbar1 .thumb .end,
#scrollbar1 .thumb { background: transparent url(../IMG/bg-scrollbar.png) no-repeat; }
#scrollbar1 .scrollbar { position: relative; background-position: 0 0; float: right; width: 15px; }
#scrollbar1 .track	{ background: transparent url(../IMG/bg-scrollbar-end.png) no-repeat 0 100%; height: 100%; width:13px; position: relative; padding: 0 1px; }
#scrollbar1 .thumb { background-position: 100% 100%; height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#scrollbar1 .thumb .end { background-position: 100% 0; height: 5px; width: 13px; }
#scrollbar1 .disable { display: none; }


#scrollbar2 { display:inline; margin-top:0px; width:100%; clear: both; margin: 0px;  font-size:25px;}
#scrollbar2 .viewport { width:95%; height:85%; overflow: hidden; position: relative; }
#scrollbar2 .overview { font-family:"agency"; list-style: none; position: absolute; width:97%; left: 5px; top: 0; text-align:center;height:110%;}
#scrollbar2 .scrollbar,
#scrollbar2 .thumb .end,
#scrollbar2 .thumb { background: transparent url(../IMG/bg-scrollbar.png) no-repeat; }
#scrollbar2 .scrollbar { position: relative; background-position: 0 0; float: right; width: 15px; }
#scrollbar2 .track	{ background: transparent url(../IMG/bg-scrollbar-end.png) no-repeat 0 100%; height: 100%; width:13px; position: relative; padding: 0 1px; }
#scrollbar2 .thumb { background-position: 100% 100%; height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#scrollbar2 .thumb .end { background-position: 100% 0; height: 5px; width: 13px; }
#scrollbar2 .disable { display: none; }

